@model Project1.WebApp.Models.LocationWeb

@{
    ViewData["Title"] = "ByLocation";
}


<h2>Search order history by location</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ByLocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-control">
                @Html.LabelFor(model => model.Address)
                @Html.DropDownListFor(model => model.Address, new SelectList(Model.AddressEnumerable, "Value", "Text"), new { required = (string)null })
            </div>
            <div class="form-control">
                @Html.LabelFor(model => model.SearchOption)
                @Html.DropDownListFor(model => model.SearchOption, new SelectList(Model.OptionEnumerable, "Value", "Text"), new { required = (string)null })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

