
@{
    ViewData["Title"] = "Index";
}

<h2>Choose your search</h2>
<div>
    <a asp-area="" asp-controller="OrderHistory" asp-action="ByUser">Display Order History of a User</a>
    </div>
<div>
    <a asp-area="" asp-controller="OrderHistory" asp-action="ByLocation">Display Order History of a Location</a>
</div>

