
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    <a asp-area="" asp-controller="User" asp-action="ExistingUser">Login as Existing User</a>
    <a asp-area="" asp-controller="User" asp-action="NewUser">Login as New User</a>
</div>

