
@{
    ViewData["Title"] = "Index";
}

<h2>Please sign in</h2>
<div>
    <a asp-area="" asp-controller="User" asp-action="ExistingUser">Login as Existing User</a>
</div>
<div>
    <a asp-area="" asp-controller="User" asp-action="NewUser">Login as New User</a>
    </div>
<div>
    <a asp-area="" asp-controller="User" asp-action="Search">Search for Users by First Name</a>
</div>

