@model Project1.WebApp.Models.OrderWeb

@{
    ViewData["Title"] = "Index";
}


<h2>Start your order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-control">
                @Html.LabelFor(model => model.Address)
                @Html.DropDownListFor(model => model.Address, new SelectList(Model.AddressEnumerable, "Value", "Text"), new { required = (string)null })
            </div>

            <div class="form-control">
                @Html.LabelFor(model => model.PizzaCountString)
                @Html.DropDownListFor(model => model.PizzaCountString, new SelectList(Model.NumOfPizzaEnumerable, "Value", "Text"), new { required = (string)null })
            </div>
            <div class="form-group">
                <input type="submit" value="Start your order" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
