@model Project1.WebApp.Models.OrderWeb

@{
    ViewData["Title"] = "PlaceOrder";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h2>Place your order</h2>
@if (Model.OrderId != 0)
{
<p>Suggested Order! The last time you were here you ordered:</p>
    <p>@Model.PizzaCountDetails Pizzas</p>
    for (int x = 1; x < Model.PizzaCountDetails+1; x++)
    { 
        <p>Pizza #@x
           Toppings - Pepperoni: @Model.PizzaDictionary[x-1][0], Cheese: @Model.PizzaDictionary[x-1][1]

        </p>
    }
}
else
{
    <p>You have never ordered a pizza using our app or you have created an order that exceeds are inventory or price values. </p>
    <p>You have no suggested order.</p>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 1; i < Model.PizzaCountInt+1; i++) 
            {
            <div class="form-group">
                <h3>Pizza #@i</h3>
                    <label><input id="checked" type="checkbox" name="ToppingListForm" value="true" />
                           <input id="unchecked" type="hidden" value="false" name="ToppingListForm"/>Pepperoni</label>
                    <label><input id="checked" type="checkbox" name="ToppingListForm" value="true" />
                           <input id="unchecked" type="hidden" value="false" name="ToppingListForm"/>Cheese</label>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

